@use '../../styles/variables' as *;

.separate {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 12px 0;
}

.separate__line {
  height: 1px;
  background-color: $border-color;
  flex: 1;
  opacity: 0.7;
}

.separate__title {
  font-size: $font-size-sm;
  color: $text-secondary;
  white-space: nowrap;
}

