@use '../../styles/variables' as *;

.panel-resizer {
  flex: 0 0 10px;
  width: 10px;
  cursor: col-resize;
  position: relative;
  display: flex;
  align-items: stretch;
  justify-content: center;
  background: transparent;
  user-select: none;

  &:hover .panel-resizer__line {
    background: rgba(74, 163, 255, 0.35);
  }

  &:active .panel-resizer__line {
    background: rgba(74, 163, 255, 0.55);
  }
}

.panel-resizer__line {
  width: 2px;
  height: 100%;
  background: $border-color;
  border-radius: 2px;
  margin: 0;
}

